@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.braille-loading {
	position: relative;
}

.braille-loading:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-top-color: #1a1a1a;
	border-right-color: #1a1a1a;
	animation: spinner .6s linear infinite;
}
